:root{
    --accent:#9d4edd;
    --bg:#000;
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
}


.video{

    position:fixed;

    inset:0;

    width:100vw;
    height:100vh;

}


.video iframe{

    width:100%;
    height:100%;

    border:0;

}



.live-logo{

    position:fixed;

    top:25px;
    left:30px;

    z-index:5;

    font-family:'Bebas Neue',sans-serif;

    font-size:2.5rem;

    letter-spacing:3px;

    color:white;

    text-shadow:
    0 0 20px rgba(157,78,221,.7);

}



.live-logo span{

    color:#ff3333;

    font-family:'Inter',sans-serif;

    font-size:.8rem;

    letter-spacing:4px;

    display:block;

    margin-top:-5px;

}



@media(max-width:768px){

.live-logo{

    top:15px;
    left:15px;

    font-size:1.7rem;

}
}